{% extends "base.html" %}
{% load static %}


{% block content %}


    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 rec-main-col">
                    <div class="jumbotron">
                        <h1 class="display-4 recommendations-title">Spotify Song Recommender</h1>
                        <div class="row">
                            <div class="col-md-6">

                                <iframe class="embedded-playlist"
                                        src="https://open.spotify.com/embed/playlist/{{ chosen_playlist.playlist_id }}"
                                        width="500" height="1000"
                                        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {% if not script_ran and not remove_rec_button %}
                                                    <div class="recommendation-text ">
                                                        <p class="text">By clicking the button below, we will provide
                                                            you with the song
                                                            recommendations from the
                                                            playlist you selected by pulling in all of the songs you
                                                            have
                                                            saved, and
                                                            the contents of all playlists you have created on
                                                            Spotify.</p>

                                                        <p class="text">Depending on the amount of songs/playlists you
                                                            have
                                                            saved/created, this can take quite some time to run the
                                                            first time
                                                            you get recommendations because we have to analyze your
                                                            library.
                                                            Please be patient, and be aware that if you do not have much
                                                            saved content, you may not get recommendations.</p>
                                                    </div>
                                                    <div class="col-xs-12 button-holder">
                                                    <div class="ajax-button">
                                                        <div class="fa fa-check done"></div>
                                                        <div class="fa fa-close failed"></div>
                                                        <a href="
                                        {% url "spotify_app:recommendations" chosen_playlist.playlist_id %}">
                                                            <input id="submit" class="submit rec-button" type="button"
                                                                   value="Give me recommendations"/></a>
                                                    </div>
                                                {% elif script_ran %}
                                                    <div class="recommendation-text">
                                                        <p class="text">All done! Below are your recommendations from
                                                            the playlist on
                                                            the
                                                            left. Click on any of the buttons
                                                            to be redirected to Spotify's website to listen to the
                                                            song!</p>
                                                    </div>
                                                    <div class="recommendations-for-blank"><h2>Song recommendations
                                                        for {{ first_name }}:</h2></div>
                                                    {% for rec in recs %}
                                                        {% if rec.recommended_user == active_user and rec.parent_playlist_id == chosen_playlist.playlist_id %}
                                                            <ul class="rec-list">
                                                                <li>
                                                                    <div class="container song-thumb-container">
                                                                        <div class="row rec-row">

                                                                            <div class="col-sm-4">
                                                                                <div class="card rec-song-art">
                                                                                    <a href="https://open.spotify.com/track/{{ rec.song_id }}"
                                                                                       target="_blank">
                                                                                        <img class="img-responsive"
                                                                                             src="{{ rec.album_cover_art }}">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-8 button-div">
                                                                                <a target="_blank"
                                                                                   href="https://open.spotify.com/track/{{ rec.song_id }}">
                                                                                    <button type="button"
                                                                                            class="btn btn-success rec-song-button align-middle">
                                                                                        {{ rec.song_name }}
                                                                                        -
                                                                                        {{ rec.artist_name }}
                                                                                    </button>
                                                                                </a>
                                                                            </div>
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if no_recommendations %}
                                                    <div class="row">
                                                    <h4 class="no-rec-header">No recommendations! Try again</h4>
                                                    <div class="recommendation-text">
                                                        <p>It appears that either the playlist you selected did not
                                                            contain
                                                            any songs that match your criteria,
                                                            or your Spotify library is not very large. Please try again
                                                            with
                                                            a different playlist!</p>
                                                    </div>
                                                    <div class="col-xs-12 button-holder">
                                                    <div class="ajax-button">
                                                        <div class="fa fa-check done"></div>
                                                        <div class="fa fa-close failed"></div>
                                                        <a href="
                                        {% url "spotify_app:playlist_list" %}">
                                                            <input id="submit" class="submit rec-button" type="button"
                                                                   value="Back to Playlists"/></a>
                                                    </div>
                                                {% endif %}
                                            {% if Zero_liked_songs %}
                                                    <div class="row">
                                                    <h4 class="no-rec-header">No recommendations! Try again</h4>
                                                    <div class="recommendation-text">
                                                        <p>It appears that you haven't Liked any songs on your spotify account.
                                                            Please like a few songs to proceed further.</p>
                                                    </div>
                                                    <div class="col-xs-12 button-holder">
                                                    <div class="ajax-button">
                                                        <div class="fa fa-check done"></div>
                                                        <div class="fa fa-close failed"></div>
                                                        <a href="
                                        {% url "spotify_app:playlist_list" %}">
                                                            <input id="submit" class="submit rec-button" type="button"
                                                                   value="Back to Playlists"/></a>
                                                    </div>
                                                {% endif %}
                                                </div>
                                                </div>
                                                </div>
                                                <div class="container-fluid row ">
                                                    <div class="container">
                                                        <div class="row">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Spotify Song Recommender</h1>
                        <p class="lead">Please log in to your Spotify account to get song recommendations</p>
                        <p class="lead">
                            <a class="btn btn-success btn-lg" href="{% url "social:begin" "spotify" %}"
                               role="button">Log in with Spotify</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

